<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div><a href="https://www.yash.com/">Yash Technology</a></div>
      <ul class="navbar nav">
          <li><a class="nav-link" href="/welcome/sunil">Home</a></li>
          <li><a class="nav-link" href="/images">Images</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-collapse justify-content-end">
            <li><a class="nav-link"  href="/login">login</a></li>
            <li><a class="nav-link" href="/logout">logout</a></li>
        </ul>

    </nav>
</header>
